@media only screen and (min-width: 768px) and (max-width: 1024px) { 
  body {
  min-width: 50%;
  max-width: 85%;
  margin: auto;
  overflow: auto;
  }

  nav {
    font-size: .9em;
    float: none;
    display: block;
    position: relative;
    margin: 0 20% 0 20%;
  }

  nav a {
  display: inline-block;
  }

  h1 {
  font-size: 1.6em;
  }

  h2 {
  font-size: 1.3em;
  }

  p {
  font-size: 1em;
  letter-spacing: 0.065em;
}


 #logo {
    width: 35%;
    float: none;
    display: block;
    position: relative;
  }

#hero{
  background: #fff url("../watercolour800.jpg") no-repeat center;
  background-size: cover;
  width: 51em;
  height: 21em; 
  float: left;
  margin: 2em 2em 0 2em;
  padding: 1em;
}

  #headline-blue{
  margin: 1em 0 0 .5em;
  font-size: 2.5em;
  text-align: center; 
  }

  #headline-white{
  margin: .3em 0 0 1em;
  font-size: 1.5em;
  text-align: center;
  }

#homepage-link-about {
  display: block;
  padding: 1em;
  margin: 0 auto;
  width: 70%;
  border-left: none;
  float: none;
  text-align: center;
}

.homepage-links {
  display: block;
  padding: 1em;
  margin: 0 auto;
  width: 70%;
  border-left: none;
  float: none;
  text-align: center;
}

#about-image{
  display: block;
  width: 100%;
  border-bottom: .1em solid #CCC;
  border-right: none;
}

#about-details{
  display: block;
  width: 85%;
  text-align: center;
  float: none;
  clear: both;
}

.work-image{
  display: block;
  width: 100%;
}

.work-content{
  display: block;
  width: 85%;
  height: auto;
  text-align: center;
}

.blog-post-img-lg {
  display: block;
  width: 100%;
  height: auto;
}

.blog-post-lg {
  display: block;
  width: 85%;
  text-align: center;
}

.blog-post-img-sm{
  display: block;
  width: 100%;
}

.blog-post-sm{
  display: block;
  width: 85%;
  text-align: center;
}

#contact-image{
  display: block;
  width: 100%;
  border-right: none;
  border-bottom: .1em solid #CCC;
}

#contact-details{
  display: block;
  width: 85%;
  text-align: center;
  float: none;
  clear: both;
}
}