

body{
  font-family: 'Oxygen', sans-serif;
  width: 1200px;
  height: 100%;
  margin: auto;
  border: 1px solid #797979;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #797979;
}

h1 {
  font-size: 24px;
  
}

h2 {
  font-size: 24px;
  color: #8E5BA6;
  padding: 5px 5px 10px 5px;
  
}

p {
  font-family: 'Fauna One', serif;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 5px 10px 5px;
  border: 1px solid #797979;
  line-height: initial;
}

li {
  float: left;
  width: 50%;
  height: 100px;
  outline: 2px solid #222222;
  text-align: center;
  line-height: 100px;
  color: black;
  background: white;
  }

ul {
  list-style: none;
  margin: 0;
}

nav{
  font-size: 16px;
  float: right;
  padding: 10px;
  margin: 30px;
  border: 1px solid #797979;
}

nav a{
  text-decoration: none;
  color: #333;
  margin: 30px;
  display: inline-block;
  border: 1px solid #797979;
}

section{
  color: white;
  overflow: auto;
  float: left;
  border: 1px solid #797979;
}

div {
  display: block;
  clear: both;
  border: 1px solid #797979;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 18px 0;
  clear: both;
  border: 1px solid #797979;
}

img {
  display: block;
  margin: 0 auto;
  float: left;
  clear: both;
  width: auto;
  padding: 30px;
  border: 1px solid #797979;
}

#hero {
  background-color: #fff;
  height: 500px;
  width: 100%;
}

#about {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#services {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#blog {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;

}

#contact {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#about-image{
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px 10px;
  float: left;
  clear: both;
}

#about-details{
  display: inline-block;
  margin: 10px 10px;
  padding: 20px;
  width: 50%;
  height: 350px;
  border-left: 1px solid #797979;
}

.work{
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 30%;
  height: auto;
  border-bottom: 1px solid #797979;
  float: left;
  clear: none;
}

.headline-text-blue{
  color: #00BCE4;
  font-family: 'Fauna One', 'Trebuchet MS', Arial, sans-serif;
  font-size: 60px;
  text-transform: capitalize;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.blog-post-img-lg {
  float: left;
  clear: both;
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-lg {
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-img-sm{
  float: left;
  clear: both;
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-sm{
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

#form-content{
 /* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* { margin:0; padding:0; box-sizing:border-box; }