

body{
  font-family: 'Oxygen', sans-serif;
  width: 1200px;
  margin: auto;
  border: 1px solid #797979;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #797979;
}

h1 {
  font-size: 24px;
  
}

h2 {
  font-size: 24px;
  color: #8E5BA6;
  padding: 5px 5px 10px 5px;
  
}

p {
  font-family: 'Fauna One', serif;
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 5px 10px 5px;
  border: 1px solid #797979;
  line-height: initial;
}

li {
  float: left;
  width: 50%;
  height: 100px;
  outline: 2px solid #222222;
  text-align: center;
  line-height: 100px;
  color: black;
  background: white;
  }

ul {
  list-style: none;
  margin: 0;
}

nav{
  font-size: 16px;
  float: right;
  padding: 10px;
  margin: 30px;
  border: 1px solid #797979;
}

nav a{
  text-decoration: none;
  color: #333;
  margin: 30px;
  display: inline-block;
  border: 1px solid #797979;
}

section{
  color: white;
  overflow: auto;
  float: left;
  border: 1px solid #797979;
}

div {
  display: block;
  clear: both;
  border: 1px solid #797979;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 18px 0;
  clear: both;
  border: 1px solid #797979;
}

img {
  display: block;
  margin: 0 auto;
  float: left;
  clear: both;
  width: auto;
  padding: 30px;
  border: 1px solid #797979;
}

#hero {
  background-color: #fff;
  margin: 0 auto;
  height: 200px;
  width: 100%;
  float: left;
}

#about {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#services {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#blog {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;

}

#contact {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: auto;
  border-left: 1px solid #797979;
}

#about-image{
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px 10px;
  float: left;
  clear: both;
}

#about-details{
  display: inline-block;
  margin: 10px 10px;
  padding: 20px;
  width: 50%;
  height: 350px;
  border-left: 1px solid #797979;
}

.work{
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  width: 30%;
  height: auto;
  border-bottom: 1px solid #797979;
  float: left;
  clear: none;
}

.headline-text-blue{
  color: #00BCE4;
  font-family: 'Fauna One', 'Trebuchet MS', Arial, sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.blog-post-img-lg {
  float: left;
  clear: both;
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-lg {
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-img-sm{
  float: left;
  clear: both;
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.blog-post-sm{
  margin:  10px 10px;
  padding: 20px;
  border-bottom: 1px solid #797979;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* { margin:0; padding:0; box-sizing:border-box; }