* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url("images/stripes.png") repeat-x, url("images/background.jpg") no-repeat #525a6a;
	background-size: auto, cover;
	color: white;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
}
section { margin: 200px 0 0 100px; }
hr {
	border: 1px #fa7377 solid;
	margin: 20px 0 20px 0;
	width: 50px;
}
p {
	margin: 20px 0 0 0;


}
