body {
	background-image: url("https://raw.githubusercontent.com/mariaviolet/mariaviolet.github.io/master/project-3/images/stripes.png"), url("https://raw.githubusercontent.com/mariaviolet/mariaviolet.github.io/master/project-3/images/background.jpg");
	background-repeat: repeat-x; no-repeat;
	background-size: auto, cover
}

body {	
	font-family: helvetica;
	font-size: 18px;
	font-weight: lighter;
	color: white;
	margin: 200px 200px;
	padding-bottom: 50px;
}

hr {
	border-color: red;
	color: red;
	width: 50px;
	float: left;
	padding: 0.50px;

}

a{

}