* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url("ocean-tuckshop.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

body {	
	font-family: 'Roboto Slab', helvetica, arial;
	color: #000000;
	text-align: center;
	margin: 50px 0 50px 0;
}
h1{
	margin: 50px 0 100px 0;
	text-align: center;
}

h2 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 4px;
}

p {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 200px
}