* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url("ocean.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

body {	
	font-family: helvetica, arial;
	color: #000000;
	text-align: center;
}
h1{
	margin: 0;
	text-align: center;
}

h2 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: lighter;


}