* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url("tuckshop-beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto Slab', helvetica, arial;
	color: #000000;
	text-align: center;
	margin: 50px 200px 200px 200px;
}
.logo{
	padding: 50px 200px 100px 200px;
}
.mainbody {
	background-color: rgba(0,0,0,0.3);
}
h1 {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #000;
	letter-spacing: 4px;
	padding-top: 50px
}
p {
	font-size: 20px;
	color: #BFBEBE;
	font-weight: lighter;
	padding: 20px 200px 50px 200px;
	text-transform: 

}